
#firstHeading {
  font-size: 40px;
  line-height: 50px;
}

#initialLogosHolder {
  display: flex;
  justify-content:
  center;align-items: center;
}

#plus {
  margin: 10px;
  color: black;
}

#comparisonTable {
  font-size: 20px;
}

#compare-REST-GraphQL-fetching-simple {
  color: black;
  margin-top: 50px;
}

#compare-REST-GraphQL-fetching-complex {
  color: black;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

#compare-REST-GraphQL-fetching-complex img {
  height: 340px;
}

#start-with-graph-lists > div {
  margin-top: 50px;
}

#start-with-graph-lists li {
  margin-top: 10px;
  color: black;
}

#start-with-graph-lists ul {
  list-style: none;
}

#show-apollo-query {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#show-apollo-query img:last-of-type {
  margin-left: 60px;
}

#show-apollo-mutate {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#show-apollo-mutate img:first-of-type {
  width: 640px;
}

#show-apollo-mutate img:last-of-type {
  margin-left: 30px;
  width: 710px;  
}

#my-opinion-list {
  display: flex;
}

#my-opinion-list ul {
  list-style: none;
  line-height: 35px;
  color: black;
  padding: 10px;
}
#my-opinion-list li {
  margin-top: 30px;
}

#list-pros {
  min-width: 450px;
  background-color: #45b945;
}

#list-cons {
  min-width: 600px;
  background-color: #f13f3f;
}

h1 {
  line-height: 50px !important;
}

#query-example > iframe{
  width: 100%;
  height: 600px;
}

.reveal code {
  padding: 20px;
  font-size: 28px;
  text-align: initial;
  line-height: 1.1;
}

.reveal ul {
  text-align: left;
}

.reveal section {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.6;
}

.akra-section {
  color: black;
  font-size: 40px !important;
  display: grid;
  grid-template-rows: 200px 200px;
  grid-template-areas: "a a b" 
                       "a a c"
                       "x d d";
}

.zdjecie-akra {
  grid-area: a;
  width: 800px;
}
.fb {
  grid-area: b;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.strona {
  grid-area: c;
  display: flex;
  justify-content: baseline;
  align-items: flex-start;
}

.aplikuj-na {
  grid-area: d;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.fb img, .strona img, .aplikuj-na img {
  width: 40px;
  margin: 0 20px !important;
  margin-bottom: -5px !important;
}